<div class="modal fade" id="publishPromotionModal" tabindex="-1" role="dialog" aria-labelledby="publishPromotionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="publishPromotionModalLabel">
                    Publish Promotions
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-show="publishingError.publishDateAfterStartDate || publishingError.invalidDiscounts">
<!--                    <div ng-show="publishingError.publishDate">
                        Publishing date must be 7 days or later than today's date.
                    </div>-->
                    <div ng-show="publishingError.publishDateAfterStartDate">
                        Publishing date must be before start date: {{selectedStartDate | date: 'dd/mm/yyyy'}}
                    </div>
                    <div ng-show="publishingError.invalidDiscounts">
                        Please make sure for all the selected dates discounts are more than: <strong><i>{{minDiscountRequiredForPromotion}}%</i></strong>.
                    </div>
                </div>
                <div ng-include="'web/templates/cashbacks/publish-promotions-form.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelPublishPromotion()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="publishPromotions()">Publish Promotions</button>
            </div>
        </div>
    </div>
</div>