<div class="modal fade" id="spPromotionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Special Promotion for - {{selectedDateForSpPromotionText}}</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'web/templates/cashbacks/sp-promotions-form.html'"></div>
                <div class="alert alert-warning">
                    <strong>Note:</strong> This will overwrite existing discounts for this day.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelSpecialPromotion()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveSpecialPromotion()">Save changes</button>
            </div>
        </div>
    </div>
</div>