<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Transaction Filters</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'web/templates/transactions/filters-form.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeFiltersModal()">Close</button>
                <button type="button" class="btn btn-success" ng-click="updateTransactionsFilters()">Update Filters</button>
            </div>
        </div>
    </div>
</div>