<div class="row text-center margin-left-30">
    <h3>Add New Employee</h3>
</div>
<form class='custom-form'>
  <div class="col-3">
    <label>
      First Name
      <input type="text" ng-class="{highlight: first_name_error}" ng-model='first_name' placeholder="What is your employee's first name?" tabindex="1" />
    </label>
  </div>
  <div class="col-3">
    <label>
      Last Name
      <input type="text" ng-class="{highlight: last_name_error}" ng-model='last_name' placeholder="Who is your employee's last name?" tabindex="2" />
    </label>
  </div>
  <div class="col-3">
    <label>
      Email Address
      <input type="text" ng-class="{highlight: email_error}" ng-model='email' placeholder="Will be used for login (e.g. virat@gmail.com)" tabindex="3"/>
    </label>
  </div>
  <div class="col-3">
    <label>
      Password
      <input type="password" ng-class="{highlight: password_error}" ng-model="password" placeholder="Will be used for login" tabindex="4" />
    </label>
  </div>
  <div class="col-3">
    <label>
      Confirm Password
      <input type="password" ng-class="{highlight: confirm_password_error}" ng-model="confirm_password" placeholder="Will be used for login" tabindex="4" />
    </label>
  </div>
  <div class="col-3">
    <label>
      Employee Type
      <select ng-model='type'>
          <option value='biller'>Biller</option>
          <option value='manager'>Manager</option>
      </select>
    </label>
  </div>
  <div class="col-submit">
    <button ng-click="cancel()">Cancel</button>
    <button ng-disabled="processing" class='btn-confirm' ng-click="addEmployee()">Add</button>
  </div>
</form>