<div class="container" ng-app="myApp">
    <div class="row">
        <div class='col-lg-9 clo-md-9 col-sm-9 col-xs-9'>
            <h4>Employees List</h4>
        </div>
        <div class='col-lg-3 clo-md-3 col-sm-3 col-xs-3 text-right'>
            <button ng-click='goToAddEmployeePage()' class="btn btn-add btn-circle">
                <span class='glyphicon glyphicon-plus'></span>
            </button>
        </div>
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Type</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.type}}</td>
                <td><a href="#/edit-employee/{{employee.id}}" >Edit</a> &nbsp; <a ng-click="deleteEmployee(employee.id)">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>