<nav class = "navbar navbar-default" role = "navigation">
   
   <div class = "navbar-header">
       <a class = "navbar-brand" href = "#"><span class="logo"></span></a>
   </div>
   
   <div>
      <ul class = "nav navbar-nav">
         <li  ng-class="{active: currentState === 'dashboard'}">
             <a href = "#/dashboard"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a>
         </li>
         <li ng-class="{active: currentState === 'details'}">
             <a href = "#/details"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Details</a>
         </li>
         <li ng-class="{active: currentState === 'cashbacks'}">
             <a href = "#/cashbacks"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Schemes</a>
         </li>
         <li class="dropdown" ng-class="{active: currentState === 'transactions'}">
             <a class="dropdown-toggle" data-toggle = "dropdown">
                 <span class="glyphicon glyphicon-usd"></span>&nbsp;Transactions
                 <b class = "caret" ></b>
             </a>
             <ul class = "dropdown-menu">
               <li><a href = "#/transactions">List Transactions</a></li>
               <li class = "divider"></li>
               <li><a href = "#/add-transaction">Add Transaction</a></li>
            </ul>
         </li>
         <li class="dropdown" ng-class="{active: currentState === 'employees'}">
             <a class="dropdown-toggle" data-toggle = "dropdown">
                 <span class="glyphicon glyphicon-user"></span>&nbsp;Employees
                 <b class = "caret" ></b>
             </a>
             <ul class = "dropdown-menu">
               <li><a href = "#/employees">List Employees</a></li>
               <li class = "divider"></li>
               <li><a href = "#/add-employee">Add Employee</a></li>
            </ul>
         </li>
         <li class = "dropdown" ng-class="{active: currentState === 'settings'}">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;Settings 
               <b class = "caret"></b>
            </a>
            <ul class = "dropdown-menu">
               <li><a href = "#/settings">Payment</a></li>
               <li class = "divider"></li>
               <li><a href = "#">Profile</a></li>
               <li class = "divider"></li>
               <li><a ng-click="logout()">Logout</a></li>
            </ul>
         </li>	
      </ul>
   </div>
</nav>
