<nav class = "navbar navbar-default not-loggedin" role = "navigation">
    <div>
        <ul class="nav navbar-nav main-nav">
            <li id="logo" ng-click="navToggleClicked()"><a><span class="logo"></span></a></li>
        </ul>
    </div>
</nav>