body{
    font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
    /*background: #F2F4F5 !important;*/
    background: #fff !important;
}
.logo{
    background-image: url('./images/logo.png');
    width: 115px;
    height: 45px;
    background-size: 110px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -10px;
}
.navbar{
    background-color: #E1E5E7;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1), top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1), top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 0 1px, rgba(0, 0, 0, 0.08) 0 -1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 1px, rgba(0, 0, 0, 0.08) 0 -1px 0 0 inset;
}
.navbar.not-loggedin{
    height: 60px;
}
.navbar a{
    color: #fff;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
}

.navbar a:hover{
    background-color: transparent !important;
    color: yellowgreen;
}
.navbar #logo{
    font-family: Florence, cursive;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
    font-size: 25px;
}
.navbar #logo a{
    color: yellowgreen;
}

.navbar li.active{
    border-bottom: 5px solid red;
}

.navbar li a{
    cursor: pointer;
}

.remove-sp-promotion{
    cursor: pointer;
}

.unpublish-promotion{
    cursor: pointer;
}

.filter-tag-text{
    color: orangered;
    font-style: italic;
}

.main-content{
    margin-top: 20px;
}

.balance-progress-container{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.balance-progress-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.balance-progress-container .panel-body .row{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

/******** graph lengend overwrite  ********/
ul.line-legend li{
    margin-right: 150px;
}
ul.line-legend li span{
    display: inline-block !important;
}
ul.line-legend li span.line-legend-text{
    margin-left: 5px !important;
    position: relative;
    top: 0px;
}

#dashboard-container .stats-label{
    padding: 7px;
    position: relative;
    font-size: 14px;
    top: 4px;
}