body{
    font-family: 'freightsans_pro', Arial, sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.42857;
}
.navbar{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1), top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1), top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 0 1px, rgba(0, 0, 0, 0.08) 0 -1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 1px, rgba(0, 0, 0, 0.08) 0 -1px 0 0 inset;
}
.navbar a{
    color: #fff;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
}

.navbar a:hover{
    background-color: transparent !important;
    color: yellowgreen;
}
.navbar #logo{
    font-family: Florence, cursive;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
    font-size: 25px;
}
.navbar #logo a{
    color: yellowgreen;
}
#overview{
    height: 540px;
}
.slideshow .lifestyle-header {
    height: 100%;
}
#overview .lifestyle-header{
    background-image: url(https://d10ukqbetc2okm.cloudfront.net/mstatic/v2/images/home/lifestyle-10.jpg);
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slideshow .lifestyle-header .info {
    margin-top: 200px;
    text-align: center;
}